<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.bookmark.FileSystemBookmarkStorageService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.workflow.WorkflowProviderService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.services.common.security.AccessControlService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.services.StandardOutlineService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.services.common.sql.GestionOperationsSqlService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.ui.desktop.outlines.pages.forms.operations.EditerOperationsService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.services.lookup.compte.CompteLookupService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.ui.desktop.outlines.pages.forms.operations.CreerOperationService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.ui.desktop.outlines.pages.forms.comptes.EditerCompteService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.services.RechercherAchatsService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.ui.desktop.outlines.pages.forms.operations.SelectionnerDonneesService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.ui.desktop.outlines.pages.forms.operations.ComptesParticuliersService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.ui.desktop.outlines.pages.forms.operations.PartagerVersComptesParticuliersService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.services.lookup.CompteParticulierLookupService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.mg.alpha.gestion.operations.client.ui.desktop.outlines.pages.forms.operations.SupprimerOperationService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="mg.alpha.gestion.operations.server.ui.desktop.outlines.pages.forms.comptes.SupprimerCompteService"
            session="mg.alpha.gestion.operations.server.ServerSession">
      </service>
   </extension>
   <extension
         name=""
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/process"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
         <init-param
               name="min-version"
               value="0.0.0">
         </init-param>
      </servlet>
      <servlet
            alias="/remotefiles"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
      </servlet>
      <servlet
            alias="/updatesite"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
         <init-param
               name="folder"
               value="/updatesite">
         </init-param>
      </servlet>
      <servlet
            alias="/"
            class="org.eclipse.scout.rt.server.ResourceServlet">
         <init-param
               name="bundle-name"
               value="mg.alpha.gestion.operations.server">
         </init-param>
         <init-param
               name="bundle-path"
               value="/resources/html">
         </init-param>
      </servlet>
      <servlet
            alias="/ajax"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
      </servlet>
   </extension>
   <extension
         name=""
         point="org.eclipse.scout.rt.server.commons.filters">
      <filter
            aliases="/process /remotefiles /updatesite"
            class="org.eclipse.scout.rt.server.commons.servletfilter.security.BasicSecurityFilter"
            ranking="20">
      </filter>
      <filter
            aliases="/process /remotefiles /updatesite"
            class="org.eclipse.scout.rt.server.commons.servletfilter.security.AnonymousSecurityFilter"
            ranking="30">
      </filter>
   </extension>
   <extension
         id="app"
         name="Server Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mg.alpha.gestion.operations.server.ServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         name=""
         point="org.eclipse.core.runtime.products">
      <product
            application="mg.alpha.gestion.operations.server.app"
            name="GestionOperations Server">
         <property
               name="appName"
               value="GestionOperations Server">
         </property>
      </product>
   </extension>

</plugin>
